/* THIS VARIABLES ARE NOT TO USE IN OTHER PLACES */
$white: #ffffff;
$blackPearl: #1e272e;
$chromeYellow: #ffa801;


/* THIS YOU CAN USE */

$primary: $chromeYellow;
$color-light: $white;
$color-dark: $blackPearl;

$color-text-light: $white;
$color-text-dark: $blackPearl;

$navbar-bg: $chromeYellow;
$navbar-color-text: $blackPearl;

$header-bg: $blackPearl;

$footer-bg: $blackPearl;

$text-color: $chromeYellow;

$base-padding: 24px;
$duration: 250ms;


$font-header: 'Kanit', sans-serif;
$font-text: 'Kanit', sans-serif;

